
.game1-container {
  background-color: #cedfff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 138);
}
.btn-geo {
  background-color:blue;
  color: white;
  margin-right: 10px;
}

.btn-his {
  background-color:yellow;
  color: black;
  margin-right: 10px;
}

.btn-sci {
  background-color: lightgreen;
  color: black;
  margin-right: 10px;
}

.btn-lit {
  background-color:purple;
  color: white;
  margin-right: 10px;
}
.btn-ent {
  background-color:pink;
  color: black;
  margin-right: 10px;
}
.btn-spo {
  background-color:orange;
  color: black;
  margin-right: 10px;
}
.btn-corr {
  background-color:greenyellow;
  color: black;
  margin-right: 10px;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  
}
